
ul {
	list-style:none;
	margin:0; 
	padding:0;
	width:1000px;
	margin:0 auto;
	/***-moz-box-shadow: 0 0 5px #111;
	-webkit-box-shadow: 0 0 5px #111;
	box-shadow: 0 0 5px #111;**/
}

ul li label {
	/***background: #575e63; /* fallback colour */
	/***border-top:1px solid #878e98;***/
	border-bottom:1px solid #e1e1e1;
	color: #7f7f7f;
	letter-spacing: 0.09em;
	/****
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
	background: -webkit-linear-gradient(top, #575e63, #3f4347);
	background: -moz-linear-gradient(top, #575e63, #3f4347);
	background: -ms-linear-gradient(top, #575e63, #3f4347);
	background: -o-linear-gradient(top, #575e63, #3f4347);***/
}

ul li input[type='checkbox'] {
	display: none;
}

ul li label {
	display:block;
	padding:12px;
	width:1000px;
}

ul li i {
	font-size:18px;
	vertical-align: middle;
	width:20px;
	display:inline-block;
}

ul li span {
	display:inline;
	float:right;
	position:relative;
}

ul li label:hover {
	background: #C73D2A; /* fallback colour */
	
}

ul li label:hover span {
	background:#C73D2A;
}

ul li input[type='checkbox']:checked ~ label {
	background: #C73D2A; /* fallback colour */
	content: "\e62c";
	/***background:transparent; /* fallback colour */
	border-top:1px solid #878e98;
	
}

ul li input[type='checkbox']:checked ~ label span {
	background-color:#C73D2A;

		content: "\e62c";
	
}

ul li input[type='checkbox']:checked ~ .options {
	height: auto;
	display:block;
	min-height:40px;
	max-height:400px;
}

ul ul {
	background:#fff; margin:0; padding:0;
	-moz-box-shadow: inset 0 2px 2px #b3b3b3;
	-webkit-box-shadow: inset 0 2px 2px #b3b3b3;
	box-shadow: inner 0 2px 2px #b3b3b3;
}

ul ul li a {
	display:block;
	padding:6px 12px;
	color:#000;
	text-decoration:none;
}

ul ul li a:hover {
	color:#000;
}

ul ul li a span {
	color:#999;
	background:none;
	border:1px solid #ccc; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul ul li {
	border-bottom:1px solid #ccc;
}

ul ul li:first-child {
	padding-top:6px;
}

ul ul li:last-child {
	padding-bottom:6px; border:0;
}

.options {
	height: 0;
	display: block;
	overflow: hidden;
}

.option-link1  option-link2{
color: #376092;
display:inline;
}

.option-link1 a option-link2 a{
color:#376092;
text-decoration: none;

}
	
/* Abridged icomoon font styles
/* (Hosted on Frecosse - Please don't hotlink!)
=============================================== */
@font-face {
	font-family: 'icomoon';
	src:url('http://www.frecosse.com/workshop/accordion_menu/icomoon.eot');
	src:url('http://www.frecosse.com/workshop/accordion_menu/icomoon.eot?#iefix') format('embedded-opentype'),
		url('http://www.frecosse.com/workshop/accordion_menu/icomoon.woff') format('woff'),
		url('http://www.frecosse.com/workshop/accordion_menu/icomoon.ttf') format('truetype'),
		url('http://www.frecosse.com/workshop/accordion_menu/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


.item1 .item2 .item3{
background-color:#F5F5DC;
float:left;
}