@charset "UTF-8";
/*
 * JP Morgan and Chase Co. Career
 * http://careers.jpmorgan.com
 *
 * ----------------------------------------------
 * By default all styles are shared between JPMC and JPM.
 * Style variation is done via the "body.<theme>" class
 * For instance, it is <body class="jpmc"> or <body class="jpm">
 * Refer to "core/_variables" for the theme namespace.
 */

/**********Fonts************/

@font-face {
    font-family: "Amplitude Light";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/amplitude-light/amplitude-light.eot);
    src: url(../fonts/amplitude-light/amplitude-light.eot?#iefix) format("embedded-opentype"), url(../fonts/amplitude-light/amplitude-light.woff) format("woff"), url(../fonts/amplitude-light/amplitude-light.ttf) format("truetype"), url("../fonts/amplitude-light/amplitude-light.svg#Amplitude Light") format("svg")
}
@font-face {
    font-family: "JPMC Icons";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/jpmc-icons/jpmc-icons.eot);
    src: url(../fonts/jpmc-icons/jpmc-icons.eot?#iefix) format("embedded-opentype"), url(../fonts/jpmc-icons/jpmc-icons.woff) format("woff"), url(../fonts/jpmc-icons/jpmc-icons.ttf) format("truetype"), url("../fonts/jpmc-icons/jpmc-icons.svg#JPMC Icons") format("svg")
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/****************************/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;

}

label {
    line-height: 1.25rem;
}
/***a {
    background-color: transparent;
    color: #C73D2A;
    text-decoration: none;
}***/


.beta, h2 {
    font-size: 2.875rem;
    line-height: 3.5rem;
}

fieldset,
form {
    margin: 0;
    padding: 0;
    border: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

 :after, :before {
    box-sizing: border-box;
}


.legal-page__privacy  .legal-page__terms .legal-page__cookie {
 font-family: "Amplitude Light";

}

.margin-bottom-md {
    margin-bottom: 56px;
}
/**************/
body {
    background-color:#f6f4ee;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-feature-settings: "kern", "liga", "pnum";
    -ms-font-feature-settings: "kern", "liga", "pnum";
    font-feature-settings: "kern", "liga", "pnum";
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
   
    color: #212121;
    /***background-color: #0F2D51;*********/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}

body,
html {
    height: 100%;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}



/**END***/


/****************/


#tmp_main_body_wrapper{
 max-width: 1200px;
 /*height: auto;*/
 margin: 0 auto;
 padding: 0;
 text-align: center;
 /*overflow: visible;
 position: relative;*/
 top: 0;
}

#tmp_main_container{
 /*position: relative;*/
 padding: 0;
 margin: 0;
 top: 0;
 left: 0;
 text-align: left;
}

#tmp_main_container_wrapper{
 /*position: relative;*/
 padding: 0;
 margin: 0;
 top: 0;
 left: 0;
}

#tmp_header{
 position: relative;
 padding: 0;
 margin: 0;
 top: 0;
 left: 0;
 text-align: left;
 z-index: 1000;
}
.headerBG{
  background: #0f2d51 none repeat scroll 0 0;
  height: 125px;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  z-index:0;
 }

#tmp_header_wrapper{
 position: relative;
 padding: 0;
 margin: 0;
 top: 0;
 left: 0;
}

global_navigation_wrapper{
width:100%;
}


#global_navigation{
background: #0f2d51 none repeat scroll 0 0;
z-index:10;
height: 65px;
width:100%;

}


#global_navigation .logo {
height: 60px;
line-height: 60px;
z-index: 91;
width: 40%;
max-width:350px;
min-width:280px;
padding-right:10px;
 /*padding-left: 22px;*/
padding-top: 11px;
}

#logo_link{
 position: absolute;
 top: 20px;
 left: 30px;
 width: 270px;
 height: 30px;
}

#logo_link a{
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 270px;
 height: 30px;

}
#gn_links{
 position: absolute;
 float: right;
 top: 5px;
 right: 0px;
 padding: 0;
 margin: 0;
}

#gn_links_wrapper{
 position: relative;
 top: 0;
 left: 0;
 padding: 0;
 margin: 0;
}
.gn_normal {
    text-decoration: none;
    font-size: 0.9em;
    color: #fff;
}

.gn_bold {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
}


#gn_search{
 position: relative;
 float: right;
 top: 15px;
 right: 10px;
 padding: 0;
 margin: 0;
 clear: both;
}

#gn_search_wrapper{
 position: relative;
 top: 0;
 left: 0;
 padding: 0;
 margin: 0;
}
.gn_careers {
text-decoration: none;
font-size: 0.9em;
font-weight: bold;
color: #fff;
margin-right: 266px;
bottom:0px;
}
.gn_careers:hover{
 color: #ddd;
}

#quote {
 float: left;
 position: relative;
 top: 16px;
 right: 0px;
}
/* links */

/******/
.header-font-family, h1, h2, h3, h4, h5, h6 {
    font-family: "Amplitude Light", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.3;
    margin: 0 0 14px;
}

.circles, .title-desc__desc {
    font-family: "Amplitude Light", Helvetica, Arial, sans-serif;
}
.container-centered,
.container-highlight {
    max-width: 100%
}

.link-bordered a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent
}
.link-bordered a:active,
.link-bordered a:hover {
    border-bottom-color: inherit
}
/*****All Boostrap Styles **************/


.col-xs-12 {
    width: 100%;
}

@media (min-width: 768px) {
.col-sm-push-8 {
    left: 66.66667%;
}
@media (min-width: 768px) {
.col-sm-4 {
    width: 33.33333%;
}
@media (max-width: 767px) {
    body.is-hover-active {
        overflow: hidden
    }
    .alpha,
    h1 {
        font-size: 2.625rem;
        line-height: 3.0625rem
    }
    .beta,
    h2 {
        font-size: 2.25rem;
        line-height: 2.625rem
    }
    .gamma,
    h3 {
        font-size: 1.625rem;
        line-height: 2.1875rem
    }
    .delta,
    .epsilon,
    .zeta,
    h4,
    h5,
    h6 {
        line-height: 1.75rem
    }
    .delta,
    h4 {
        font-size: 1.375rem
    }
    .epsilon,
    h5 {
        font-size: 1.125rem
    }
    .zeta,
    h6 {
        font-size: .875rem
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-1 {
        width: 8.33333%
    }
    .col-sm-2 {
        width: 16.66667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.33333%
    }
    .col-sm-5 {
        width: 41.66667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.33333%
    }
    .col-sm-8 {
        width: 66.66667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.33333%
    }
    .col-sm-11 {
        width: 91.66667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-pull-1 {
        right: 8.33333%
    }
    .col-sm-pull-2 {
        right: 16.66667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.33333%
    }
    .col-sm-pull-5 {
        right: 41.66667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.33333%
    }
    .col-sm-pull-8 {
        right: 66.66667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.33333%
    }
    .col-sm-pull-11 {
        right: 91.66667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-push-1 {
        left: 8.33333%
    }
    .col-sm-push-2 {
        left: 16.66667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.33333%
    }
    .col-sm-push-5 {
        left: 41.66667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.33333%
    }
    .col-sm-push-8 {
        left: 66.66667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.33333%
    }
    .col-sm-push-11 {
        left: 91.66667%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
    .col-sm-offset-1 {
        margin-left: 8.33333%
    }
    .col-sm-offset-2 {
        margin-left: 16.66667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333%
    }
    .col-sm-offset-5 {
        margin-left: 41.66667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333%
    }
    .col-sm-offset-8 {
        margin-left: 66.66667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333%
    }
    .col-sm-offset-11 {
        margin-left: 91.66667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
}
@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-1 {
        width: 8.33333%
    }
    .col-md-2 {
        width: 16.66667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.33333%
    }
    .col-md-5 {
        width: 41.66667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33333%
    }
    .col-md-8 {
        width: 66.66667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.33333%
    }
    .col-md-11 {
        width: 91.66667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-pull-1 {
        right: 8.33333%
    }
    .col-md-pull-2 {
        right: 16.66667%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-4 {
        right: 33.33333%
    }
    .col-md-pull-5 {
        right: 41.66667%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-7 {
        right: 58.33333%
    }
    .col-md-pull-8 {
        right: 66.66667%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-10 {
        right: 83.33333%
    }
    .col-md-pull-11 {
        right: 91.66667%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-push-1 {
        left: 8.33333%
    }
    .col-md-push-2 {
        left: 16.66667%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-4 {
        left: 33.33333%
    }
    .col-md-push-5 {
        left: 41.66667%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-7 {
        left: 58.33333%
    }
    .col-md-push-8 {
        left: 66.66667%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-10 {
        left: 83.33333%
    }
    .col-md-push-11 {
        left: 91.66667%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.33333%
    }
    .col-md-offset-2 {
        margin-left: 16.66667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333%
    }
    .col-md-offset-5 {
        margin-left: 41.66667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333%
    }
    .col-md-offset-8 {
        margin-left: 66.66667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333%
    }
    .col-md-offset-11 {
        margin-left: 91.66667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}
@media (max-width: 767px) {
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}
.col-xs-1 {
    width: 8.33333%
}
.col-xs-2 {
    width: 16.66667%
}
.col-xs-3 {
    width: 25%
}
.col-xs-4 {
    width: 33.33333%
}
.col-xs-5 {
    width: 41.66667%
}
.col-xs-6 {
    width: 50%
}
.col-xs-7 {
    width: 58.33333%
}
.col-xs-8 {
    width: 66.66667%
}
.col-xs-9 {
    width: 75%
}
.col-xs-10 {
    width: 83.33333%
}
.col-xs-11 {
    width: 91.66667%
}
.col-xs-12 {
    width: 100%
}
.col-xs-pull-0 {
    right: auto
}
.col-xs-pull-1 {
    right: 8.33333%
}
.col-xs-pull-2 {
    right: 16.66667%
}
.col-xs-pull-3 {
    right: 25%
}
.col-xs-pull-4 {
    right: 33.33333%
}
.col-xs-pull-5 {
    right: 41.66667%
}
.col-xs-pull-6 {
    right: 50%
}
.col-xs-pull-7 {
    right: 58.33333%
}
.col-xs-pull-8 {
    right: 66.66667%
}
.col-xs-pull-9 {
    right: 75%
}
.col-xs-pull-10 {
    right: 83.33333%
}
.col-xs-pull-11 {
    right: 91.66667%
}
.col-xs-pull-12 {
    right: 100%
}
.col-xs-push-0 {
    left: auto
}
.col-xs-push-1 {
    left: 8.33333%
}
.col-xs-push-2 {
    left: 16.66667%
}
.col-xs-push-3 {
    left: 25%
}
.col-xs-push-4 {
    left: 33.33333%
}
.col-xs-push-5 {
    left: 41.66667%
}
.col-xs-push-6 {
    left: 50%
}
.col-xs-push-7 {
    left: 58.33333%
}
.col-xs-push-8 {
    left: 66.66667%
}
.col-xs-push-9 {
    left: 75%
}
.col-xs-push-10 {
    left: 83.33333%
}
.col-xs-push-11 {
    left: 91.66667%
}
.col-xs-push-12 {
    left: 100%
}
.col-xs-offset-0 {
    margin-left: 0
}
.col-xs-offset-1 {
    margin-left: 8.33333%
}
.col-xs-offset-2 {
    margin-left: 16.66667%
}
.col-xs-offset-3 {
    margin-left: 25%
}
.col-xs-offset-4 {
    margin-left: 33.33333%
}
.col-xs-offset-5 {
    margin-left: 41.66667%
}
.col-xs-offset-6 {
    margin-left: 50%
}
.col-xs-offset-7 {
    margin-left: 58.33333%
}
.col-xs-offset-8 {
    margin-left: 66.66667%
}
.col-xs-offset-9 {
    margin-left: 75%
}
.col-xs-offset-10 {
    margin-left: 83.33333%
}
.col-xs-offset-11 {
    margin-left: 91.66667%
}
.col-xs-offset-12 {
    margin-left: 100%
}
    
}



/**********/

@media (min-width: 991px) {
    html.jp .nav-main>ul>li {
        padding: 0 13px
    }
}
html.jp .nav-main .dropdown {
    padding: 0
}
html.jp .jp-button-spacing-small {
    margin-right: 0;
    margin-bottom: 14px
}
@media (min-width: 767px) {
    html.jp .jp-button-spacing-small {
        margin-right: 14px;
        margin-bottom: 0
    }
}
.ie8 .oldies__footer .container {
    width: 976px
}
.ie8 .ie-lang__container {
    left: 66.66%;
    width: 33.33%
}
.ie8 .ie-lang__container ul {
    list-style-type: none;
    display: inline-block;
    overflow: hidden
}
.ie8 .ie-lang__container ul>li {
    float: left;
    display: block;
    margin-right: 5px
}
.container-centered:after,
.container-highlight:after,
.container:after {
    content: "";
    display: table;
    clear: both
}
.ie8 .ie-lang__container ul>li a {
    color: #000
}
.color-white,
.ie8 .jpmc .ie-lang__container ul>li a {
    color: #fff
}
.ie8 .ie-lang__container ul>li a:hover {
    text-decoration: none
}
.ie8 .ie-lang__container ul>li.active,
.ie8 .ie-lang__container ul>li:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000
}
.ie8 .jpmc .ie-lang__container ul>li.active,
.ie8 .jpmc .ie-lang__container ul>li:hover {
    border-bottom-color: #fff
}
.ie8 .ie-copyright__container {
    right: 33.3333%;
    width: 66.6667%
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px
}



@media (min-width: 991px) {
body.jpmc .logo__image {
    width: 304px;
    height: 22px;

}
@media (min-width: 992px) and (max-width: 1199px) {


}


@media (min-width: 768px) and (max-width: 991px) {
    
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    
    }
}
@media (min-width: 1200px) {
   

}
@media print {
 
}

/*******
div.col-xs-12.col-sm-3.col-md-5{
position: relative;
min-height: 1px;
padding-left: 16px;
padding-right: 16px;

}
**********/


.col-xs-12 .col-sm-4 .col-md-4{
position: relative;
min-height: 1px;
padding-left: 16px;
padding-right: 16px;
 }


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
   
}



/*******Main********/

main {
    padding-bottom: 112px;
}
main .margin-bottom-xlg:last-child,
main .module-padding-base-both:last-child,
main .module-spacing-large-x-both:last-child,
main .module-spacing-large-x:last-child,
main .module-spacing-large:last-child,
main .module:last-child {
    margin-bottom: 0!important;
}
main .imgtxtbtn__text:last-child,
main .module-padding-base-both:last-child,
main .module-padding-medium-both:last-child,
main .module-padding:last-child,
main .module:last-child {
    padding-bottom: 0!important;
}



.module-padding-large-both {
    padding-top: 84px!important;
}

.module-padding-large, .module-padding-large-both {
    /****padding-bottom: 84px!important;***/
}

form.jpmc option, form.jpmc select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}
form.jpmc select {
    appearance: none;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e6e6db;
    padding: 7px 0;
    font-size: 1.125rem;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFW…XihVDaHSpOVnZ6DTVgB5R+jTc7EZGenkC9RhAwjozyDCDAAFMnOHduwy5zAAAAAElFTkSuQmCC) 100% 50% no-repeat");
}
/******************/




.link-bordered a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.title-desc__title {
    margin-bottom: 28px;
}

.title-desc__desc, .title-desc__title {
    margin: 0;
    padding: 0;
}

.title-desc__title {
    margin-bottom: 28px;
    margin: 0 auto;
    width: 50%;
}

.title-desc__title h2 {
min-width:200px;
font-family: "Amplitude Light";
font-size: 2.875rem;
line-height: 3.5rem;
}

.link-block {
    position: relative;
    display: block;
    height: 270px;
    padding: 28px;
    background: #fff;
}

.beta, h2 {
    font-size: 2.875rem;
    line-height: 3.5rem;
}

form.jpmc select {
    appearance: none;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e6e6db;
    padding: 7px 0;
    font-size: 1.125rem;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFW…XihVDaHSpOVnZ6DTVgB5R+jTc7EZGenkC9RhAwjozyDCDAAFMnOHduwy5zAAAAAElFTkSuQmCC") 100% 50% no-repeat;
}


form.jpmc option, form.jpmc select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

form.jpmc .ie-search-field, form.jpmc input[type=search] {
    width: 100%;
    border: 1px solid #e6e6db;
    padding: 14px 56px 14px 14px;
    height: 58px;
}
.container,
.container-centered,
.container-highlight {
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px
}


.container-fluid:after, .row:after {
    content: "";
    clear: both;
    display: table

}

.delta, h4 {
    font-size: 1.375rem;
}

form.jpmc input[type=search] {
    box-sizing: border-box;
    font-size: 1.125rem;
}
/*************Buttons *************/

.btn.btn-outline.red:hover, button.btn-outline.red:hover, input[type=button].btn-outline.red:hover {
    background: #C73D2A;
    color: #fff;
}

.btn.btn-outline.red, button.btn-outline.red, input[type=button].btn-outline.red {
    background: 0 0;
    border: 1px solid #C73D2A;
    color: #C73D2A;
}

.btn.red:hover, button.red:hover, input[type=button].red:hover {
    background: #b6261b;
}

.btn.red, button.red, input[type=button].red {
    background: #C73D2A;
    color: #fff;
}

.btn:focus, .btn:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover {
    cursor: pointer;
    text-decoration: none!important;
}

.btn, button {
    display: inline-block;
    min-width: 200px;
    padding: 12px 24px;
    border-radius: 9999em;
    text-align: center;
    vertical-align: middle;
    border: 0;
    outline: 0;
}

.btn, .cta, button, input[type=button] {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
    font-family: Helvetica, Arial, sans-serif;
}


#adv-search-button-label{
color: #4b5360;
}
/****************/



/**Icons **/

.icon-location:before {
    content: "\e639";
}
.icon-grid-fill:before {
    content: "\e636";
}
.icon-grid:before {
    content: "\e637";
}
.icon-list-fill:before {
    content: "\e638";
}
.icon-undo:before {
    content: "\e63c";
}
.icon-arrow-down-fill:before {
    content: "\e600";
}
.icon-arrow-down-stroke:before {
    content: "\e601";
}
.icon-arrow-down:before {
    content: "\e602";
}
.icon-arrow-left-fill:before {
    content: "\e603";
}
.icon-arrow-left-stroke:before {
    content: "\e604";
}
.icon-arrow-left:before {
    content: "\e605";
}
.icon-arrow-right-fill:before {
    content: "\e606";
}
.icon-arrow-right-stroke:before {
    content: "\e607";
}
.icon-arrow-right:before {
    content: "\e608";
}
.icon-arrow-up-fill:before {
    content: "\e609";
}
.icon-arrow-up-stroke:before {
    content: "\e60a";
}
.icon-arrow-up:before {
    content: "\e60b";
}
.icon-calendar-fill:before {
    content: "\e60c";
}
.icon-calendar-stroke:before {
    content: "\e60d";
}
.icon-calendar:before {
    content: "\e60e";
}
.icon-circle-fill:before {
    content: "\e60f";
}
.icon-clock:before {
    content: "\e610";
}
.icon-close-fill:before {
    content: "\e611";
}
.icon-close-small:before {
    content: "\e612";
}
.icon-close-stroke:before {
    content: "\e613";
}
.icon-close:before {
    content: "\e614";
}
.icon-dots:before {
    content: "\e615";
}
.icon-facebook-fill:before {
    content: "\e616";
}
.icon-facebook-stroke:before {
    content: "\e617";
}
.icon-facebook:before {
    content: "\e618";
}
.icon-facebook-footer-fill:before {
    content: "\e617";
}
.icon-facebook-footer-stroke:before {
    content: "\e617";
}
.icon-facebook-footer:before {
    content: "\e617";
}
.icon-hamburger-small:before {
    content: "\e619";
}
.icon-hamburger-stroke:before {
    content: "\e61a";
}
.icon-hamburger:before {
    content: "\e61b";
}
.icon-linkedin-fill:before {
    content: "\e61c";
}
.icon-linkedin-stroke:before {
    content: "\e61d";
}
.icon-linkedin:before {
    content: "\e61e";
}
.icon-linkedin-footer-fill:before {
    content: "\e61d";
}
.icon-linkedin-footer-stroke:before {
    content: "\e61d";
}
.icon-linkedin-footer:before {
    content: "\e61d";
}
.icon-location-fill:before {
    content: "\e61f";
}
.icon-location-stroke:before {
    content: "\e620";
}
.icon-loction:before {
    content: "\e621";
}
.icon-menu-fill:before {
    content: "\e622";
}
.icon-minus-fill:before {
    content: "\e623";
}
.icon-minus-stroke:before {
    content: "\e624";
}
.icon-minus:before {
    content: "\e625";
}
.icon-open-fill:before {
    content: "\e626";
}
.icon-open-stroke:before {
    content: "\e627";
}
.icon-open:before {
    content: "\e628";
}
.icon-play:before {
    content: "\e629";
}
.icon-plus-fill:before {
    content: "\e62a";
}
.icon-plus-stroke:before {
    content: "\e62b";
}
.icon-plus:before {
    content: "\e62c";
}
.icon-search-fill:before {
    content: "\e62d";
}
.icon-search-stroke:before {
    content: "\e62e";
}
.icon-search:before {
    content: "\e62f";
}
.icon-twitter-fill:before {
    content: "\e630";
}
.icon-twitter-stroke:before {
    content: "\e631";
}
.icon-twitter:before {
    content: "\e632";
}
.icon-twitter-footer-fill:before {
    content: "\e631";
}
.icon-twitter-footer-stroke:before {
    content: "\e631";
}
.icon-twitter-footer:before {
    content: "\e631";
}
.icon-youtube-fill:before {
    content: "\e633";
}
.icon-youtube-stroke:before {
    content: "\e634";
}
.icon-youtube:before {
    content: "\e635";
}
.icon-youtube-footer-fill:before {
    content: "\e634";
}
.icon-youtube-footer-stroke:before {
    content: "\e634";
}
.icon-youtube-footer:before {
    content: "\e634";
}
.icon-instagram-fill:before {
    content: "\e900";
}
.icon-instagram-stroke:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-instagram-footer-fill:before {
    content: "\e901";
}
.icon-instagram-footer-stroke:before {
    content: "\e901";
}
.icon-instagram-footer:before {
    content: "\e901";
}

.icon-people-play:before {
	content: "\e906";
}
.icon-people-read:before {
	content: "\e905";
    color:#c0504d;
}		
.fa-plus:before {
    content: "\f067";
    color:#c0504d;

}

.fa-plus:after {
   
    
}
/********Body**********/
/***.bg-white {
    background: #fff;
}
*****/
.col-xs-12 .col-sm-6{display:inline-block;}

.intro__desc p{


}
/****Corporate Header *****/
#corporate_hero_wrapper{
background-color: #f5f4ee;
width:1200px;
margin:0 auto;
}
#corporate_hero{
background-color: #f5f4ee;

}


.container-centered{
width:380px;

}
.container, .container-centered, .container-highlight {
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.container-centered,
.container-highlight {
    max-width: 100%;
}

.container-fluid:after,
.row:after {
    content: "";
    clear: both;
    display: table;
}

#white_tmp{
background-color: #fff;
width:100%;
}
.faqs_tmp{
background-color:#fff;
height:555px;

}


.faqs-questions{
font-family: "Amplitude Light";
font-size:2em;
text-align: center;
}


.ie-search-field{
width:937px;
}

form {
display: block;
margin-top: 0em;
}

/***
.taleoform.jobfield1{


}
********/

a#adv-search-button-label {
color: #375f92;
font-weight:bold;
text-decoration:none;
font-size: 2em;

}
a#adv-search-button-label p{
color: #375f92;
text-decoration:none;
font-size: 2em;
}

.form__cta2{
background-color: #f5f4ee;
position: relative;
margin: 28px 0 0;
height:347px;
padding-top:10px;
text-align: center;
}

button#experienced-button-label  button#students-button-label{
display:block;
padding-top:100px;


}
button#experienced-button-label,
button#students-button-label{
padding-top:10px;

}


.form__cta{
background-color: #fff;
position: relative;
height:348px;
min-width:1200px;
padding-top:100px;
margin: 28px 0 0;
text-align: center;
}
.form__cta p{
font-family: "Amplitude Light";
font-size: 1.125rem;

text-align: center;
}


p.faqs-questions {
font-family: "Amplitude Light";
font-size: 2em;
font-weight: bold;
text-align: center;
padding-top:40px;
}
p.refer-a-candidate   {
font-family: "Amplitude Light";
font-size: 2em;
font-weight:bold;
text-align: center;
padding-top: 50px;
}




/***********Policies *************/

.policies_tmp{
background-color:#f5f4ee;
height:379px;
min-width:1200px;
position:relative;
width:100%;

}
.policies {
color: #404040;
font-family: "Amplitude Light";
margin: auto;
}

.policies p{
font-size: 2em;
font-weight: bold;
font-family: "Amplitude Light";
text-decoration: none;
text-align: center;
padding-top: 96px;
}


.policies p li a{
color:#6785a9;
font-family: "Amplitude Light";
text-decoration: none;

}
ul.options-link1 {
float:left;
color:#6785a9;
font-family: "Amplitude Light";
text-decoration:none;
}

ul.options-link2 {
float:left;
color:#6785a9;
font-family: "Amplitude Light";
text-decoration:none;
/********padding-left: 85px;***********/
}


ul.options-link1 li {
color:#6785a9;
 font-family: "Amplitude Light";
text-decoration:none;
list-style-type:none;

}

ul.options-link2 li {
color:#6785a9;
font-family: "Amplitude Light";
list-style-type:none;    

}

ul.options-link1 li a{
color:#375f92;
font-family: "Amplitude Light";
text-decoration:none;
}

ul.options-link2 li a{
color:#375f92;
font-family: "Amplitude Light";
text-decoration:none;
}


.options-links {
margin: 5% 30%;
}

.logo__image {
    display: inline-block
}
.footer-legal:after,
.footer:after {
    clear: both;
    content: "";
    display: table
}
body.jpmc .logo__image {
    width: 214px;
    height: 14px
}

/*********Footer************/


.footer,
.logo,
.logo a,
.logo__image,
.page-title {
    margin: 0;
    padding: 0;
}



.module-spacing-medium,
.module-spacing-medium-both {
    margin-bottom: 56px!important;
}
.module-spacing-medium-both {
    margin-top: 56px!important;
}

#footer__jmpcsites-link a{
color: #212121;
}

section#footer-legal.footer-legal {
    height: 84px;
    background: #0F2D51;
    color: #fff;
    padding: 28px 0;
}


#footer{
position:relative;
 padding: 28px 0;
 bottom:0;
}

.footer-main {
background-color: #fff;
font-size: .855rem  !important;
line-height: 1.872;
padding: 14px 0 60px;

}


.footer-main ul li {
list-style: none;
margin: 0;
padding: .14em 0;
}
/**********Mobile Styles****/


/****
@media (min-width: 992px) {

.container {
    width: 976px;
}

***/
/***Please work on Styles Here***********/

/*********
@media  (min-width:768px){


}


@media  (min-width: 1024px) {	
	#global_navigation{
    width:100%;    
    }	
	#global_navigation .logo {
	    padding-left: 1%;
	}

    #global_navigation .logo__image  img{
	    padding-left: 64%;
    }
	#gn_links {
	 right: 1%;
	}
	#quote{
	 right: 16px;
	}

	.gn_careers{
	padding-left: 50px;
	}
	div.nav > ul > li {
	   margin:0 20px;
	}
}



@media only screen and (min-width: 731px) {	
	#global_navigation{
    width:100%;    
    }	
	#global_navigation .logo {
	    padding-left: 1%;
	}

    #global_navigation .logo__image  img{
	    padding-left: 64%;
    }
	#gn_links {
	 right: 1%;
	}
	#quote{
	 right: 16px;
	}

	.gn_careers{
	padding-left: 5px;
	}
	div.nav > ul > li {
	   margin:0 20px;
	}
}

@media only screen and (max-width: 411px) {
#global_navigation{
    width:100%;    
    }	
	#global_navigation .logo {
	    padding-left: 1%;
	}

    #global_navigation .logo__image  img{
	    padding-left: 64%;
    }
	#gn_links {
	 right: 1%;
	}
	#quote{
	 right: 16px;
	}

	.gn_careers{
	padding-left: 5px;
	}
	div.nav > ul > li {
	   margin:0 20px;
	}

}
***********/
/*******
@media (min-width: 767px) {
    .footer-main {
        padding: 35px 0 76px;
    }
}



@media (max-width: 1199px){
#quote {
    right: 16px;
}

.container .footer__content{
background-color: #fff;
}
*******/

/***links*****

@media (min-width: 767px) {
    .footer-main {
        padding: 35px 0 76px;
    }
}
.footer-main ol,
.footer-main ul {
    list-style: none;
}
.footer-main ol li,
.footer-main ul li {
    list-style: none;
    margin: 0;
    padding: .14em 0;
}

.footer__social a {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.popr .footer__social a {
    margin: 0;
    padding: 0;
    display: block;
}
.footer__social a.twitter:active,
.footer__social a.twitter:hover, li:hover a.twitter i,
.footer__social a.twitter:focus {
    color: #55acee;
}
.footer__social a.facebook:active,
.footer__social a.facebook:hover, li:hover a.facebook i,
.footer__social a.facebook:focus {
    color: #4c769a;
}
.footer__social a.linkedin:active,
.footer__social a.linkedin:hover, li:hover a.linkedin i,
.footer__social a.linkedin:focus { 
    color: #0077b5;
}

.footer__social a.youtube:active,
.footer__social a.youtube:hover, li:hover a.youtube i,
.footer__social a.youtube:focus {
    color: #e52d27;
}
.footer__social a.instagram:active,
.footer__social a.instagram:hover, li:hover a.instagram i,
.footer__social a.instagram:focus {
    color: #ee33cc;
}
.footer__social  svg{
	position: relative; 
	top:1px;
	left:1px;
}
.footer__social .popr svg{
	position: relative; 
	top:2px;
}


.footer-legal a {
    color: inherit;
}
.footer-copyright {
font-size: .855rem;
}
#footer-main .footer__content .row .col-xs-12.col-sm-4 { /* fix for social media wrapping */
    padding-right: 0;
}
.footer-legal:after, .footer:after {
    clear: both;
    content: "";
    display: table;
}

/*********
@media (max-width: 767px) {
    .footer-legal {
        height: auto;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-copyright span {
        display: block;
    }
}********/
.language-selector {
font-size: .855rem;
color:#fff;
}
.language-selector:after {
    content: "";
    display: table;
    clear: both;
}
.language-selector a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color:#fff;
}
.language-selector a:active,
.language-selector a:hover {
    border-bottom-color: #fff;
}

a#lang-jp-text .language-trigger {
color:#fff;
text-decoration: none;

}

a#lang-en-text .language-trigger {
color:#fff;
text-decoration: none;

}


.language-selector li,
.language-selector ul {
    padding: 0;
    margin: 0;
}
.language-selector li:last-child:after {
    content: "";
}
.language-selector li:after {
    margin-left: .6em;
    content: "/";
}
.language-selector li.active a {
    border-bottom-color: #fff;
}

/*************************/

.gamma, h3 {
    font-size: 2rem;
    line-height: 2.625rem;
}


.link-bordered a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;

}


.legal-page__privacy  .legal-page__terms .legal-page__cookie {
 font-family: "Amplitude Light";

}
.scroll-top {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 90px;
}


.scroll-top a {
    font-size: 2.875rem;
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition-delay: 1s;
}

/**
form.jpmc select{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFW…XihVDaHSpOVnZ6DTVgB5R+jTc7EZGenkC9RhAwjozyDCDAAFMnOHduwy5zAAAAAElFTkSuQmCC) 100% 50% no-repeat;

}***/
